.loginform{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 20%;
    margin:0,auto;
    row-gap: 10px;
   
}

.outlined-required{
    margin-top: 10%;
    
}

.profileimg {
    border-radius: 50%;
    width: 200px;
   
  }
  .card-constenet{
    display: flex;
  }
  .card{
    width: 40%;
    height: 50%;
    scroll-behavior: smooth;
  }
.nametitle{
  font-size: 50px;

}
 
