.loginform{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 20%;
    margin:0,auto;
    row-gap: 10px;
   
}

.outlined-required{
    margin-top: 10%;
    
}

.profileimg {
    border-radius: 50%;
    width: 14%;
    height: 10%;
    margin-top: 5%;
    margin-left: 2%;
   
  }

.nametitle{
  font-size: 30px;

}

.start-container{
  display: flex;
  
}

.video-box{
  width: inherit
}
 
