.outlined-required {
  margin-top: 10%;
}

.profileimg {
  border-radius: 50%;
  width: 14%;
  height: 10%;
  margin-top: 5%;
  margin-left: 2%;
}

.nametitle {
  font-size: 30px;
  color: #eb8006;
}

.start-container {
  display: flex;
  margin-left: 8%;
}

.video-box {
  width: inherit;
}
.main-component {
  background-color: #1d1554;
  color: aliceblue;
  
}

.description-content {
  margin-top: 20px;
}
