.bapu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bacha {
  background-color: brown;
  color: aliceblue;
  height: 120px;
  width: 120px;
}

.chotu {
  border: 10px, dotted, red;
  height: 60px;
  width: 120px;
  background-color: aqua;
  padding: 20px 10px;
}
.countries-list {
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.gallery {
  width: 50%;
  height: 10%;
  margin-top: 20px;
}
.detail-data {
  color: rgb(209, 209, 209);
}

.main-hobby-component {
  color: white;
}
.card{
  margin-top: 80px;
}

