.text{
    color:rgb(210, 218, 226)
}

.about-main-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    
}

.about-top-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size:40px;
    height: 30%;
    width: 100%;
    color: rgb(243, 239, 239);

}
.about-bottom-content{
    height: 70%;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(212, 212, 212);
}
.about-photo{
    width: 200px;
    height: 200px;
    margin-left: 1.5%;
}
.about-title{
    width: 100%;
    margin-left: 10%;
    align-items: center;
    width: 50%;
}